github "SwiftKickMobile/SwiftMessages"
github "Kilograpp/UITableView-Cache" ~> 0.2.2
github "yeahdongcn/UIColor-Hex-Swift"
github "rs/SDWebImage" "3.8.0"
github "jdg/MBProgressHUD" ~> 1.0.0
github "Kilograpp/MFSideMenu" "1.0.1"
github "daltoniam/Starscream"
github "laptobbe/TSMarkdownParser"
github "realm/realm-cocoa"
github "slackhq/SlackTextViewController"
github "ninjaprox/NVActivityIndicatorView" ~> 3.3
github "Kilograpp/ImagePickerSheetController" "0.9.7"
github "Skyscanner/SkyFloatingLabelTextField"
github "safx/Emoji-Swift" "0.1.0"