github "Kilograpp/UITableView-Cache" "master"
github "yeahdongcn/UIColor-Hex-Swift"
github "rs/SDWebImage"
github "jdg/MBProgressHUD" ~> 1.0.0
github "Kilograpp/MFSideMenu" "master"
github "daltoniam/Starscream"
github "laptobbe/TSMarkdownParser"
github "realm/realm-cocoa"
github "slackhq/SlackTextViewController"
github "MLSDev/SkyFloatingLabelTextField" "swift3"
github "ninjaprox/NVActivityIndicatorView"
github "SwiftyJSON/SwiftyJSON"
github "Kilograpp/ImagePickerSheetController" "swift3"
