github "daltoniam/Starscream"
github "laptobbe/TSMarkdownParser"
github "MatthewYork/DateTools"
github "realm/realm-cocoa"
github "slackhq/SlackTextViewController"
github "Roobiq/RBQFetchedResultsController"
